.responsive {
    max-width: 50%;
    height: auto;
    display: flex;
    flex: 3;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.guess {
    display: flex;
    flex-direction: column;
}

.data {
    display: flex;
    flex: 1;
}